<!DOCTYPE html>
<html>
<head>
	<title>Working with patment intent.</title>
	<script src="https://js.stripe.com/v3/"></script>
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/style.css">
</head>
<body>
	<h2><center>Payment Intent.</center></h2>
	<div class="container">
		<label class="label">Pay with card
			<div id="card-element">
				
			</div>
		</label>
		<div class="button-container">
			<button class="button" onclick="generate_payment()">Pay</button>
		</div>
	</div>
</body>
<script src="http://localhost:3000/js/payment_intent.js"></script>
</html>